.placeholder {
	height: 120px;
}

.main-container {
	width: 500px;
	margin: auto;
}

.outer-circle {
	width: 100%;
	height: 500px;
	border: 1px solid #555;
	border-radius: 50%;
	padding: 10px;
	background-color: #444;
}

.inner-circle {
	width: 100%;
	height: 100%;
	border: 1px solid #444;
	border-radius: 50%;
	line-height: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
	float: left;
	background-color: #aaa;
}

.button-container {
	z-index: -1;
}

.simon-button {
	border: 7px solid #444;
	height: 240px;
}

#simon-button-a {
	border-top: 0px;
	background-color: #226400;
}

#simon-button-b {
	border-top: 0px;
	background-color: #8B0000;
}

#simon-button-c {
	border-bottom-width: 0px;
	background-color: #998800;
}

#simon-button-d {
	border-bottom-width: 0px;
	background-color: #1E7088;
}

.control-container {
	z-index: 0;
	position: absolute;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	border-radius: 50%;
	border: 7px solid #444;
	background-color: #eee;
}

.game-title-container {
	height: 30%;
	line-height: 70px;
	text-align: center;
}

.game-title {
	font-size: 3em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

#led-light {
	height: 10px;
	width: 10px;
	background-color: #ff0000;
	border: 2px solid #000000;
	border-radius: 50%;
	margin-left: 42%;
	margin-bottom: 3px;
}

.control-btn-container {
	height: 40%;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.score-board-container {
	text-align: center;
}

.score-board-value {
	height: 70%;
	width: 100%;
	color: #f00;
	background-color: #500000;
	border: 3px solid #222;
	margin-left: 5px;
	padding: 5px;
	font-size: 1.6em;
	border-radius: 5px;
}

.score-board-label {
	padding-top: 3px;
	height: 30%;
	font-weight: bold;
}

.btn-circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 3px solid #444;
	box-shadow: 0px 2px 3px #222;
}

.btn-circle:active {
	box-shadow: 0px;
	outline: 0;
}

.btn-circle:focus {
	outline: 0;    
}

.start-btn-outer-container {

}

.start-btn-inner-container {
	height: 70%;
	width: 100%;
}

.start-btn-label {
	padding-top: 3px;
	height: 30%;
	font-weight: bold;
}

#strict-btn {
	background-color: #ffff00;
}

.strict-btn-outer-container {

}

.strict-btn-inner-container {
	height: 70%;
	width: 100%;
}

.strict-btn-label {
	padding-top: 3px;
	height: 30%;
	font-weight: bold;
}

#start-btn {
	background-color: #ff0000;
}